*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
   
    font-weight:bolder;
}
.display{
    display: flex;
    flex-direction: row;
}